<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}

    {% block content %} {% endblock %}
  
    <form action='/questions/{% block question_index %} {% endblock %}' method='post'>
        {% block form_content%}{% endblock %}
    </form>
    
</body>
</html>